// 全局class

.com-container{
  height: 100%;
}

.com-box{
  padding: 10px;
}

.com-btn-back{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('~@img/btn/back.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.com-input-icon{
  width: 26px;
  margin-right: 10px;
  vertical-align: middle;
}
